.layout {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 90px auto;
  height: 100%;

  grid-template-areas:
    "sidebar header"
    "sidebar body";
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: body;
}

.header {
  grid-area: header;
  padding-bottom: 20px;
}

@media (width<=1024px) {
  .layout {
    grid-template-columns: 250px auto;
    grid-template-areas:
      "sidebar header"
      "sidebar body";
    transition: 0.3s ease;
  }
}

@media (width<=768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body";
    transition: 0.3s ease;
    grid-template-rows: 140px;
  }

  .sidebar {
    position: absolute;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease-in-out;
  }

  .sidebar.active {
    left: 0;
    transition: 0.3s ease-in-out;
    background: var(--bg);
    z-index: 3;
  }
}

@media (width<=425px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header header"
      "body body";
    transition: 0.3s ease;
    grid-template-rows: 130px;
  }

  .sidebar.active {
    left: 0;
    transition: 0.3s ease-in-out;
  }
  .sidebar {
    position: absolute;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.3s ease-in-out;
  }
}
@media (width<=320px) {
  .layout {
    grid-template-rows: 170px;
  }
}
