.addcampaing {
  position: relative;
}

.addcampaingblock {
  position: absolute;
  z-index: 2;
  left: -231px;
  top: 29px;
  width: auto;
  height: 20px;
  color: #fff;
}

.addcampaingblock svg {
  width: 30px;
}

.capaingContainer {
  padding: 10px;
  background: var(--bg);
  border-radius: 10px;
}
.capaingContainer form {
  display: flex;
  gap: 10px;
}
.capaingContainer form input {
  padding: 12px;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
  background: var(--active-color);
  border: 1px solid var(--inp-border);
  border-radius: 6px;
  outline: none;
}
